@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    list-style: none;
}


body {
    background-color: #f2f2f2;
}


a {
    text-decoration: none;
}


.aside {
    width: 20%;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    position: fixed;
    background-color: #353a40;
    box-shadow: 2px 2px 30px rgba(0, 0, 0.1, 0.3);
    color: #fff;
    transition: .4s;


    .profil {
        display: flex;
        align-items: center;
        padding: 13px 10px;
        border-bottom: 1px solid #999;

        img {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            margin-right: 20px;
        }

        h5 {
            font-size: 1rem;
            margin: 0;
        }
    }


    .fitur {

        .perFitur {
            text-decoration: none;
            display: flex;
            padding: 10px 12px 10px 12px;

            i {
                margin: 0 20px 0 0;
                color: #999;
                font-size: 1.2rem;
            }

            p {
                font-size: 1.1rem;
                color: #999;
                margin: 0;
            }


            &:hover {
                background-color: #999;
                transition: .2s;
            }


            &:hover>* {
                transition: .2s;
                color: #fff;
            }
        }
    }
}



.header {
    width: 100%;
    height: 60px;
    padding: 0 50px 0 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: .4s;

    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        span {
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: #000;
        }
    }


    form {
        transform: translateY(2px);

        input {
            height: 35px;
            width: 200px;
            border: 0;
            background-color: #f2f2f2;
            border-radius: 5px;
            padding: 10px;
        }

        button {
            padding: 6px 20px;
            background-color: blue;
            color: #fff;
            border: 0;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}




.main {
    padding: 25px 25px 50px 22%;
    background-color: #f2f2f2;
    min-height: 100vh;
    transition: .4s;

    .mainContainer {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 20px;

        h2 {
            font-size: 2rem;
            color: #999;
            font-weight: 700;
        }
    }

    h2 {
        font-size: 2rem;
        color: #999;
        font-weight: 700;
    }
}


// .item-a {
//     // display: flex;
//     width: 100%;
// }


.slider {
    width: 100%;
    height: 300px;
    // background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 0;

}

.slider-1 {
    background-image: url('../images/Slider_01.jpg');
    border-radius: 25px;
}


.slider-2 {
    background-image: url('../images/Slider_02.jpg');
    border-radius: 25px;
}


.slider-3 {
    background-image: url('../images/Slider_03.jpg');
    border-radius: 25px;
}


.slider-4 {
    background-image: url('../images/Slider_04.jpg');
    border-radius: 25px;
}



.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .perInfo {
        width: 270px;
        height: 150px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 20px;

        .caption {

            h5 {
                font-size: 3rem;
                font-weight: 700;
                margin: 0;
            }

            p {
                font-size: 1.2rem;
                font-weight: 700;
            }
        }


        i {
            font-size: 4rem;
            transform: translateX(50px);
        }

        &:hover {
            i {
                opacity: .8;
                transition: .3s;
            }
        }
    }

    .perInfoProduk {
        background-color: #17a2b7;
        color: #fff;
    }

    .perInfoArtikel {
        background-color: #5CB85C;
        color: #fff;
    }

    .perInfoPelanggan {
        background-color: #fec107;
    }
}




// produk
.foto-produk {
    width: 80px;
}

.btn-tambah {
    margin-bottom: 20px;
}


.foto-bukti {
    width: 90%;
    height: 500px;
}






@media (max-width: 1200px) {
    .aside {
        width: 50px;
        transition: .4s;

        .profil {

            h5 {
                transition: .1s;
                transform: scale(0);
            }
        }

        .fitur {

            .perFitur {

                p {
                    transform: scale(0);
                }
            }
        }
    }


    .header {
        padding: 0 50px 0 100px;
    }

    .main {
        padding: 50px 50px 100px 100px;
    }
}




@media (max-width: 1200px) {
    .info {
        flex-wrap: wrap;
        justify-content: center;

        .perInfo {
            margin: 10px;
        }
    }
}


@media (max-width: 800px) {
    .aside {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: 999999999999999 !important;

        .profil {

            h5 {
                transition: .1s;
                transform: scale(1);
            }
        }

        .fitur {

            .perFitur {

                p {
                    transform: scale(1);
                }
            }
        }
    }
}











//JS



.tutup {
    width: 50px;
    transition: .4s;

    .profil {

        h5 {
            transition: .1s;
            transform: scale(0);
        }
    }

    .fitur {

        .perFitur {

            p {
                display: none;
            }
        }
    }
}

.headerTutup {
    padding: 0 50px 0 100px;
}

.mainTutup {
    padding: 50px 50px 100px 100px;
}

// .sliderTutup {
//     width: 150%;
// }